* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    justify-content: center;
}

.post {
    width: 520px;
    background-color: white;
    margin: auto;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.header-left {
    display: flex;
	align-items: center;
}

.header-left i {
	font-size: 32px;
}

.text-title {
	font-weight: 700;
	font-size: 16px;
}

.text-profile {
	font-weight: 400;
	font-size: 14px;
}

.header-right i {
	font-size: 22px;
}

img {
    width: 520px;
    display: block;
}

.post-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.post-icons i {
	font-size: 22px;
}

.post-body {
	padding: 0 16px 18px 16px;
}

.content p{
    font-size: 16px;
    margin-bottom: 14px;
}

